
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/.navbar-brand{
    color: gold;
    margin-top: 0.5rem;
}
.Register{
    padding-right: 10px;
    margin-top: 0.7rem;
}
.Login{
    padding-right: 10px;
    margin-top: 0.7rem;
}
.sportsicon{
    margin-top: 0.2rem;
}



.navnav{
    color: aliceblue;
}
.Bck{
    background-color: rgb(255, 253, 253);
 
}

.btn{
    margin-top: 0.6rem;
}
.card{
    border-radius: 20px;
}