
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/.navbar-brand{
    color: gold;
    margin-top: 0.5rem;
}
.Register{
    padding-right: 10px;
    margin-top: 0.7rem;
}
.Login{
    padding-right: 10px;
    margin-top: 0.7rem;
}
.sportsicon{
    margin-top: 0.2rem;
}



.navnav{
    color: aliceblue;
}
.Bck{
    background-color: rgb(255, 253, 253);
 
}



.card-title{
    color: rgb(255, 0, 225);
    animation: color-change 10s infinite;
}

 
  @keyframes color-change {
    0% { color: rgb(234, 255, 47); }
    20% { color: gold; }
    40% { color: goldenrod; }
    60% { color: yellowgreen; }
    80% { color: greenyellow; }
    100% { color: rgb(157, 255, 0); }
  }
.list-group-item{
    background-color: rgb(71, 62, 62);
    color: beige;
}
.button{
   

 
}



  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 2400px) {
    .card {
    
    }
  }
